//-
	/**
	*
	* @module Template
	* @class Template
	**/
	/**
	* @property header
	**/
#topHeader
	img#logo(src="img/logo.png")
	h1 
		a(href="//www.#{config.rootdomain}/") Social Psychology Network
	h2
		a(href="//www.#{config.rootdomain}/plous.htm" target="_blank") Maintained by Scott Plous, 
		a(href="//www.wesleyan.edu" target="_blank") Wesleyan University
	div.navbar.navbar-collapse.collapse
		ul.menu.nav.navbar-nav
			li.joinbox.dropdown
				a 
					.glyphicon.glyphicon-cog
					b.caret
				ul.dropdown-menu.pull-right
					li
						a(href="//www.#{config.rootdomain}/support") Join
					li
						a(href="//www.#{config.rootdomain}/login") Sign in
					li
						a(href="//www.#{config.rootdomain}/contact.htm") Help
			//- li.dropdown.maps
			//- 	a Maps
			//- 		b.caret
			//- 	ul.dropdown-menu.pull-right
			//- 		li
			//- 			a(href="//www.#{config.rootdomain}/maps/experts") Profiled Experts
			//- 		li
			//- 			a(href="//www.#{config.rootdomain}/maps/gradprograms") Graduate Programs
			//- 		li
			//- 			a(href="//www.#{config.rootdomain}/maps/researchgroups") Research Groups
			li.dropdown
				a Forums
					b.caret
				ul.dropdown-menu.pull-right
					li
						a(href="//www.#{config.rootdomain}/forums/htm") Overview of Forums
					li
						a(href="//www.facebook.com/socialpsychology" target="_blank") SPN on Facebook
					li
						a(href="//www.#{config.rootdomain}/forums/listservcenter.htm") Listserv Message Center
					li
						a(href="//www.#{config.rootdomain}/forums/htm") Job Posting Forum
					li
						a(href="//www.facebook.com/socialpsychology" target="_blank") Student Forum
					li
						a(href="//www.#{config.rootdomain}/forums/listservcenter.htm") Add-a-Link Page
			li.dropdown
				a Directories
					b.caret
				ul.dropdown-menu.pull-right
					li
						a(href="//www.#{config.rootdomain}/profilesearch.htm") Job Posting Forum
					li
						a(href="//www.#{config.rootdomain}/directory") Social Media Directory
					li
						a(href="//www.#{config.rootdomain}/membership-directory") Membership Directory


	div.swooshBar