div.sideBox.partnerSites
	h2 Partner Sites
	ul
		li.spsp
			span
			a(href="http://www.spsp.org/") Society for Personality<br />and Social Psychology
		li.sesp
			span
			a(href="http://www.sesp.org/") Society of Experimental<br />Social Psychology
		li.up
			span
			a(href="http://www.understandingprejudice.org/") UnderstandingPrejudice.org
		li.einterview
			span
			a(href="http://www.einterview.org/") eInterview.org
		li.randomizer
			span
			a(href="http://www.randomizer.org/") Research Randomizer
		li.prisonexp
			span
			a(href="http://www.prisonexp.org/") Stanford Prison Experiment
		li.jigsaw
			span
			a(href="http://www.jigsaw.org/") The Jigsaw Classroom
		li.chemo
			span
			a(href="http://www.joechemo.org/") JoeChemo.org
	div.foot

div.sideBox.psychOptions
	h2 Social Psychology Pages
	ul
		li
			a(href="//#{config.rootdomain}/social.htm" title="Social Psychology Topics") Social Psychology Topics
		li
			a(href="//#{config.rootdomain}/journals.htm") Professional Journals
		li
			a(href="//#{config.rootdomain}/teaching") Teaching Resources
		li
			a(href="//#{config.rootdomain}/texts.htm") Psychology Textbooks
		li
			a(href="//#{config.rootdomain}/expts.htm") Online Psychology Studies
	div.foot

div.sideBox.otherOptions
	h2 Other Psychology Pages
	ul
		li
			a(href="//www.#{config.rootdomain}/psylinks.htm") Links by Psychology Area
		li
			a(href="//www.#{config.rootdomain}/psych.htm") Organizations &amp; Conferences
		li
			a(href="//www.#{config.rootdomain}/career.htm") Psychology Career Center
		li
			a(href="//www.#{config.rootdomain}/ranking.htm") Ph.D. Program Rankings
		li
			a(href="//www.#{config.rootdomain}/clinrank.htm") Clinical Psychology Programs
		li
			a(href="//www.#{config.rootdomain}/distance.htm") Distance Learning and MOOCs
		li
			a(href="//www.#{config.rootdomain}/blogs.htm") Blogs, Podcasts, and RSS
	div.foot
div.about.sideBox
	h2 About the Network
	ul
		li
			a(href="//www.#{config.rootdomain}/about.htm") History and Mission
		li
			a(href="//www.#{config.rootdomain}/support.htm") Join or Donate to SPN
		li
			a(href="//www.#{config.rootdomain}/financial.htm") Institutional Contributors
		li
			a(href="//www.#{config.rootdomain}/members.htm") Individual SPN Members
		li
			a(href="//www.#{config.rootdomain}/endorsements/") Endorsements of the Network
		li
			a(href="//www.#{config.rootdomain}/usage.htm") Site Usage Statistics
		li
			a(href="//www.#{config.rootdomain}/policy.htm") SPN User Policy
		li
			a(href="//www.#{config.rootdomain}/contact.htm") Contact Us
	div.foot