//-
	/**
	*
	* @module Template
	* @class Template
	**/
	/**
	* @property rightColumn
	**/

h4 Psychology Headlines
h5 From Around the World
ul#headlineList
	- headlines.forEach(function(headline) {
	li <a href="#{headline.url}" title="#{headline.description}" headlineid="#{headline.id}" target="_blank">#{headline.title}</a>
	- });
form(action="//www.socialpsychology.org/client/search-tabs.php" onsubmit="if (this.searchterm.value.replace(/^\s+|\s+$/g, '') == '') { alert ('Please enter one or more keywords you wish to search for.'); return false;}")
	input(type="hidden" name="search" value="rss")
	input(type="text" name="searchterm" size="12" placeholder="Search headlines" x-webkit-speech onwebkitspeechchange="$('button.headline').click()")
	button.headline(type="submit") Search 
hr
a.twitter(target="_blank" href="http://www.twitter.com/PsychNews") News on Twitter (<strong>#{twitter_followers}</strong> followers)
a.rss(target="_blank" href="//www.#{config.rootdomain}/rss/news.htm") News Feed (<strong>#{news_feed}</strong> subscribers)
a.facebook(target="_blank" href="//www.facebook.com/socialpsychology") Visit us on Facebook (<strong>#{facebook_likes}</strong> likes)