/**
* @module Style
* @class LESS
**/
/**
* Style For Carousel on Homepage
* @property Carousel
**/

@import "bower_components/lesshat/build/lesshat.less";

.carousel {
	li.advanced {	background-image: url('/img/home/slides/search.jpg'); 		}
	li.sexism   {	background-image: url('/img/home/slides/sexism.jpg'); 		}
	li.prison   {	background-image: url('/img/home/slides/prison.jpg'); 		}
	li.random   { 	background-image: url('/img/home/slides/randomizer.jpg'); 	}
	li.join  	{ 	background-image: url('/img/home/slides/join.jpg'); 	}
	li.thankyou { 	background-image: url('/img/home/slides/thankyou.jpg');		}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.carousel {
		li.advanced {	background-image: url('/img/home/slides/search@2x.jpg'); 		}
		li.sexism   {	background-image: url('/img/home/slides/sexism@2x.jpg'); 		}
		li.prison   {	background-image: url('/img/home/slides/prison@2x.jpg'); 		}
		li.random   { 	background-image: url('/img/home/slides/randomizer@2x.jpg'); 	}
		li.join   	{ 	background-image: url('/img/home/slides/join@2x.jpg'); 	}
		li.thankyou { 	background-image: url('/img/home/slides/thankyou@2x.jpg');		}
	}
}


.carousel {
	width: 100%;
	padding: 0px;
	margin:0px;
	margin: auto;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -o-flex: 1;
      -ms-flex: 1;
      flex: 1 1 auto;
	max-width: 700px;
	margin-bottom: 0px !important;

	.carousel-content {
		overflow: hidden;
		border-radius: 10px;
		height: 200px;
		border: 1px solid #006;	

		> ul {
			display:block;
			width:100%;
			margin:0px;
			position:relative;
			padding:0px;
		}

		> ul li {

			
			float: left;
			width:100%;
			display: block;
			cursor: pointer;
			background-size: 700px 200px;
			

			background-repeat: no-repeat;
			height:200px;

			&.left   { 
				background-position: top left;   
			}
			&.right  { 
				background-position: top right;  
				> a,aside { float: right;}
			}
			&.center { 
				background-position: top center; 
			}

			&.advanced {
				a {
					width:225px;

					h2 {
						font-weight: normal; 
						font-size:28px; 
						line-height:1.2em; 
						text-align:right
					}

					h3 {
						 text-align:right
					}
				}
			}

			&.prison {
				a {
					width:240px;
				}
			}

			&.random {
				a {
					width:240px; 
					padding-right: 10px;
					h2 {
						font-size:28px;
					}
				}
			}

			&.thankyou {
				aside {
					width:240px;
				}
			}

			> a,aside {


				width: 200px;
				height: 100%;
				margin: 0 0px;
				padding: 20px 40px;
				color: white;
				display: block;
				.box-sizing(content-box);

				h2 {
					font-size: 28px;
					line-height: 27px;
					margin-top: 0px;
          			padding-top: 20px;
				}

				h3 {
					font-size: 14px;	
					line-height: 18px;
          a {
            color: #47b2c3;
          }
				}

			}
		}
	}

	.left-arrow, .right-arrow {
		background: url('/img/home/arrows-30.png') 0 0 no-repeat;
		width: 30px;
		height: 79px;
		position: absolute;
		top: 60px;
	}

	.left-arrow {
		left: 0px;
		background-position: 0 0px;
		&:hover { background-position: -32px 0px; }
		&:active { background-position: -64px 0px; }
	}

	.right-arrow {
		right: 0px;
		background-position: 0 -80px;
		&:hover { background-position: -32px -80px; }
		&:active { background-position: -64px -80px; }
	}

	.buttons {
		text-align: center;

		padding: 7px 0;

		button {
			padding: 0px 7px;
			margin: 0px 2px;
			border:0px;
			display: inline-block;
			background: transparent url('/img/home/navigator.svg') 0 0 no-repeat;
			width: 12px;
			height: 12px;

			&:hover {
				background-position: 0px -12px;
			}

			&.active {
				background-position: 0px -24px;	
			}
		}
	}
	
	.join {
		h2,h3 {
			text-align: right;
			margin-right: 20px;
		}
	}
}

@-moz-document url-prefix() {
	.carousel {
		/*max-width: 1000px;*/
	}

}

@media (max-width: 1200px) {
	.carousel {
		-webkit-flex-flow: column;
	}
}