/**
*
* Alternate fixed header design.
*
**/
body.fixed {

	#topHeader, .topHeader {
		position: fixed;
		z-index: 100;
		background-color: white;
	}

	#wrapper, .wrapper {
		padding-top: 50px;
		
	
		#content, .content { background: none; }
	
		#leftColumn, .leftColumn {
	
			.topBarSwoosh {
				position: fixed;
				top: 50px;
			}

		}
	}
	
}