footer.main {
	border-top: 1px solid #000066;
	position: relative;
	height: 50px;
	color: black;
	font-size: 11px;

	.emblem {
		position: absolute;
		left: 50%;
		top: -1px;
		background-image: url("//www.socialpsychology.org/img/template/footer_logo.gif");
		height: 36px;
		width: 45px;
		margin-left: -22.5px;
	}

	.returnToTop {
		position: absolute;
		left: 0px;
		top: 4px;
	}

	.copyright {
		position: absolute;
		right: 0px;
		top: 4px;
	}
}