/**
* @module Style
* @class LESS
**/
/**
* Style For Homepage
* @property Homepage
**/

@import "bower_components/lesshat/build/lesshat.less";
@import 'carousel.less';

body.home #topHeader ul.nav li.maps {
	display: none;
}

#content {
	
	margin: 0px;
	padding-right: 20px;
	padding-top: 10px;


	.carouselWrapper {
		
		background-color: #fff;
		background-image: url('/img/home/newsTile.svg');
		-webkit-box-shadow: 1px 1px 2px #999,inset 0 0 50px rgba(0,0,0,0.1);
		-moz-box-shadow: 1px 1px 2px #999,inset 0 0 50px rgba(0,0,0,0.1);
		box-shadow: 1px 1px 2px #999,inset 0 0 50px rgba(0,0,0,0.1);
  
		.display(flex);

		border-radius: 10px;
		padding: 20px 23px 0px 20px;
		margin: 0 0 20px 0;
		border: 1px solid #006;

		> div:first-child {
			min-width: 200px;
			max-width: 700px;
			width: 30%;
			margin-right: 20px;
		}

	}


/*	aside {

		border-radius: 5px;
		border-top-right-radius: 25px;

		float:right;
		width: 300px;

		h1 {
			

			font-family: 'Crimson Text';
			background-color: #006;
			color: #f5f6e2;

			font-weight: normal;
			margin:0px;
			padding:0 10px;
			border-top-right-radius: 24px;
			border-top-left-radius: 4px;

			font-size: 17px;
			border-bottom: 0px solid black;
			line-height: 17px;
			padding-top: 5px;
		}

		.content {
			border-top: 1px solid black;
			padding: 10px;
		}
		
		
		margin: 5px 0px 30px 25px;
		background-color: #fff;
		background-image: url('/app/home/newsTile.svg');		
		-webkit-box-shadow: 1px 1px 2px #999, inset 0 0 50px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 1px 1px 2px #999, inset 0 0 50px rgba(0, 0, 0, 0.1);
		box-shadow: 1px 1px 2px #999, inset 0 0 50px rgba(0, 0, 0, 0.1);

		border: 1px solid #006;
	}*/



	> section {
		.display(flex);

		> aside {
			.flex(1);
			padding: 20px;
			
			> h1 {
				margin-top: 0px;
			}
		}

		.news {
			border-left: 1px solid #ddd;

			p {
				line-height: 22px;
			}
			a {
				border: 0;
			}
			
			li {
				margin: 5px 0;
			}
		}



		p {
			margin-bottom: 20px;
		}
	}


	hr {
		border-top: 1px dotted #009;
		margin-bottom: 10px;
	}

	.maps {
		margin:0px;
		margin-top: 16px;
		list-style-type: none;
		li {


			min-height: 37px;
			padding: 0px 0 20px 0px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
			margin-bottom: 10px;

			a {
				
				.display(flex);

				max-width: 100%;
				margin-left: -71px;

				div {
					width: 50px;
					height: 50px;
					background: transparent url('/img/home/map.png') -27px -19px no-repeat;

					border-radius: 10px;
					
					border: 1px solid #006;


					
				}


				span {
					.flex(1);
					
					display: block;
					padding-left: 14px;
					padding-top: 0px;
					
					padding-right: 10px;
					line-height: 19px;
				}

				&:hover {
					box-shadow: 2px 2px 4px #999,inset 0 0 50px rgba(0,0,0,0.1);

					/* 2.0 */
					box-shadow: none;

				}
				
			}


			&.gradprograms   {
				border-bottom: 0px;
				a div { 
					background-image: url('/img/home/map-gold.png'); 
				}
			}
			&.researchgroups a div { background-image: url('/img/home/map-green.png'); }


		}



		/* 2.0 */	
		padding-left: 72px;

	}


	form {
		
		margin-bottom: 20px;
		
		input {
			width: 168px;
			padding:0px 5px;
			margin-left: 0px;
			margin-bottom:3px;
			font-size: 15px;
			line-height: 15px;
			
			font-size: 14px;
			line-height: 17px;
		}
		
		menu {
			padding: 0px;
			margin: 0px;
			margin-left: 0px;
			/*background: transparent url('/img/home/homebuttons.png') 0 0 no-repeat;*/
			a {
				border-radius: 6px;
				cursor: pointer;
				display:inline-block;
				font-size: 11px;
				line-height: 12px;
				margin:0px;
				padding: 4px 7px 3px;
				line-height: 11px;

				&:hover {
					text-decoration: none;
					color: #006;
				}
			}

			.quick {
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
				box-shadow: 1px 1px 2px #333;
				background-color: #a7d599;

				&:hover {
					background-color: saturate(#c6e4bd, 20%);
				}
			}

			/*a {
				display:inline-block;
				padding: 0 5px;
				font-size:12px;
			}

			.quick {
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
				background-color: #8ec97c;
				background-image: -moz-linear-gradient(top,#a7d599,#69b751);
				background-image: -webkit-gradient(linear,0 0,0 100%,from(#a7d599),to(#69b751));
				background-image: -webkit-linear-gradient(top,#a7d599,#69b751);
				background-image: -o-linear-gradient(top,#a7d599,#69b751);
				background-image: linear-gradient(to bottom,#a7d599,#69b751);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa7d599',endColorstr='#ff69b751',GradientType=0);
				border-color: #69b751 #69b751 #498537;
			}

			.quick:hover, .quick:active, .quick.active, {
				background-color: #69b751;
			}

			.advanced {
				color:black;
			}*/

			.advanced {
				background-color: #efefef;
				background-color: darken(#f5f6e2, 10%);
				
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				box-shadow: 1px 1px 2px #333;
				&:hover {
					
					background-color: #fff;
					background-color: saturate(#f5f6e2, 10%);
					/*background-color: saturate(darken(#f5f6e2, 5%), 20%);*/
				}
			}

			.help {
				background-color: #f5f6e2;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				box-shadow: 1px 1px 2px #999;
				&:hover {
					/*box-shadow: 1px 1px 5px #999;*/
					background-color: saturate(#f5f6e2, 30%);
				}
			}
			
			.advanced { 
				padding-left:6px;
				padding-right:5px;
			}
		}
	}

	.nsf {
		float: left;
		/*padding-right: 10px;*/
	}

	footer {

		.display(flex);

		img {
			padding-left: 13px;
		}

		> div {
			
			.flex(1);

			padding-top: 3px;
		}

		img {
			width: 65px;
			height: 65px;
		}

		.footer {

			
			display:block;
			color: black;
			font-size: 12px;
			line-height: 15px;
			text-decoration: none;
			padding-left: 10px;
			
			span {
				font-weight: bold;
			}
			
			.stats {
				/*background: transparent url('/img/home/arrow_darkblue.gif') 86px 2px no-repeat;*/
				padding-right: 10px;
				white-space: nowrap;
			}
			
	/*		&.nsf {
				background: transparent url('/img/nsf.svg') 0 -2px no-repeat;
				background-size: 75px;
				padding-left: 84px;
				min-height: 74px;
			}*/
		}
	}

}


.ie9 {

  #content {
  	
  	.carouselWrapper{
  		display: table;
  	}

  	.carouselWrapper > div:first-child, > section > aside, .maps li a div, .maps li a span, footer > a, footer .text {
  		display: table-cell;
    	vertical-align: top;
  	}

  	> section > aside {
  		width: 50%;
  	}

  	.maps li a div {
  		/*width: 52px;*/
  	}

  	.maps li a span {
  		/*width: 100%;*/
  	}

  	.carouselWrapper > div:first-child {
  		padding-right: 20px;
  	}
	
  }
}

@-moz-document url-prefix() {

/*	#rightColumn {
		width: 400px !important;
	}

	#content {

	  	> section aside {
	  		width: 50%;
	  		display: table-cell;
	  	}

		.carouselWrapper > div:first-child {
			float: left;
		}

		.carouselWrapper .left-arrow {
			left: 30%;
			margin-left: 20px;
		}

		.carouselWrapper .buttons {
			margin-left: 30%;
			padding-left: 20px;
		}

		footer img {
			float: left;
			padding-bottom: 80px;
			padding-right: 5px;
		}
	}*/
}


/* @todo @afterMP carousel css Animation , adding pause button */

/*
@media (min-width: 1175px) and (max-width: 1300px) {
	.mediaQuery();
}*/

@media (max-width: 1325px) {
	#content {

		.carouselWrapper {

			.flex-direction(column);

			> div:first-child {
				margin: 0 auto;
			}
		}

		.carouselWrapper > div:first-child {
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;

			margin-right: 0px;

			p {
				border-top: 1px dotted #006;
				padding-top: 10px;
				margin-top: 10px;
			}
		}

		> section .news {
		}

		.carouselWrapper > div:first-child {
			width:auto;
		}

		form input {
			width: 268px;
		}

	}
	

	.oldSafari #content {
		.carouselWrapper > div:first-child{
			display: none;
		}
	
	}
}


@media (max-width: 1325px) {
	.carouselWrapper {
		.flex-direction(row);
	}
}

@media (min-width: 1325px) {
	
	.carousel {
		height: 230px;
	}
	
	.oldSafari #content .carouselWrapper {
		min-height: 240px;
		display: block;
		
		> div:first-child {
			float: left;
			max-width: 298px;
		}
		
		.carousel {
			width: 480px;
			display: block;
			margin: 0px;
			float: left;
		}
		
	}
}

@media (min-width: 1485px) {
	.oldSafari #content .carouselWrapper {
		.carousel {
			width: 560px;
		}
	}	
}

@media (min-width: 1625px) {
	.oldSafari #content .carouselWrapper {
		.carousel {
			width: 630px;
		}
	}
}


.oldFirefox {
	
	#content .carouselWrapper {
		display: inline-block;
	}
	
	#content .carouselWrapper > div:first-child {
		/*display: none;*/
		width:100%;
		p {
			border-top: none;
			width:100%;
		}
	}
	
	#content > section {
		display: block;
	}
	
	#content section .news {
		border-left: none;
	}
	
	#content footer {
		display: block;
		
		img {
			float: left;
			margin-right: 20px;
		}
	}
}
/*
@media (max-width: 1325px) {
	.ie10 {
		#content .carouselWrapper {
			display: inline-block;
		}

		#content .carouselWrapper > div:first-child {
			width:100%;
			p {
				border-top: none;
				width:100%;
			}
		}
	}
}*/