@import "bower_components/lesshat/build/lesshat.less";

/**
*
* test case oddity
*
**/
input:not([type="image"]), textarea {
	box-sizing: content-box;
}

.swooshBar {
	
	/* http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements */
	pointer-events: none;
	
	position: absolute;
	
	height: 100px;
	width:100%;
	z-index: 100;
	top: 50px;
	
	background-image: url(/img/template/topBarSwoosh.svg?v=1.0);
	background-position: top left;
	background-repeat: no-repeat;
}

/**
*
* Page Layout
*
**/
#wrapper, .wrapper {
	.display(flex);
	.align-items(stretch);
	

	#content, .content {
		.flex(1);
	
/*	    background: transparent url('/img/tile.svg') top left repeat-x;*/
	    padding: 42px 15px;
	    color: darken(#006, 15%);
/*	    background-color: white;*/

		// The first h1 is always the large centered blue crimson text
		> h1:first-child, > h1:nth-child(2), > div:first-child > h1:first-child, h1.title {
			text-align: center;
			color: #006;
			font-family: "Crimson Text";
			font-size: 40px;
			margin-top: 0px;
			margin-bottom: 20px;
		}
	}

}

/*.noLeftColumn #wrapper {
	
	#content {
		background-image: url(/app/views/template/leftColumn/topBarSwoosh.svg);
		background-position: top left;
		background-repeat: no-repeat;
	}
	
}*/

/**
*
* Page Layout for ie9, uses tables as a backup for flexbox
*
*/
.ie9 {

	#wrapper, .wrapper {
		width: 100%;
		vertical-align: top;

		#content, .content {
			display: table-cell;
		}
		#leftColumn {
			display: table-cell;
			vertical-align: top;
		}
		#rightColumn {
			display: table-cell;
			vertical-align: top;
		}
	}
}

/**
*
* Page Layout for older Firefox, hacked layout to make it passible.
*
*/
.oldFirefox {
	#wrapper, .wrapper {
		display: block;
	}

	#rightColumn {
		display:none !important;
	}
	
	#leftColumn {
		float: left;
	}
	
	#content, .content {
		margin-left: 200px;
	}
}

.ie9 {
	#wrapper, .wrapper {
		
		display: table;
	
		.content, .leftColumn, #leftColumn, .rightColumn, #rightColumn {
			display: table-cell;
		}
	
	}
}
