@leftColumnWidth: 210px;

#leftColumn, .leftColumn {
	
	position: relative;

	background-image: url("/img/template/top.svg"),url("/img/template/leftTile.svg");
	background-position: -99px 10px, -99px 1px;
	background-repeat: no-repeat, repeat-y;
	background-color: white;


	width: @leftColumnWidth;
	
	.sideBox {
		/*background: transparent url("/img/template/default/sideBoxTile.png") 0px 0px repeat-y;*/
		background-color: #efefef;
		width: 185px;
		margin-top: 10px;
		margin-left:5px;
		box-shadow: 1px 1px 2px #999;

		background-color: #fff;
		/*background-image: url('/app/views/home/newsTile.svg');	*/	
		-webkit-box-shadow: 1px 1px 2px #999, inset 0 0 50px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 1px 1px 2px #999, inset 0 0 50px rgba(0, 0, 0, 0.1);
		box-shadow: 1px 1px 2px #999, inset 0 0 50px rgba(0, 0, 0, 0.1);
		
		border: 1px solid #006;
		border-radius: 5px;
		
		&:first-child {

			margin-top: 50px;
		}
		
		h2 {
			font-family: 'Crimson Text';
			font-size: 15px;
			font-weight: bold;

			padding: 6px 3px 2px 3px;
			margin: 0px;
			text-align: center;

			
			background-color: #f5f6e2;
			color: #006;
			

			border-bottom: 1px solid #006;
			line-height: 15px;

			border-radius: 5px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
				cursor: pointer;
				
/*				&.active {

					border-width: 0px;
					background: transparent url('/app/views/account/triangle.svg') 0 0 no-repeat;
					background-size: 11px;
					background-position: -1px 7px;
					
				}
				
				&:hover {

					background-color: #c6e4bd;
					
					&:last-child {
						border-bottom-right-radius: 5px;
						border-bottom-left-radius: 5px;
					}
					
					&:first-child {
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
					}
					
				}*/
		}
		
		/* Hoverable links with triangle */
		a.h {
			cursor: pointer;
	        display: block;
	        line-height: 16px;
	        font-size: 13px;
	        color: black;
	        padding-left: 20px;
	        padding-bottom: 5px;
	        padding-top: 5px;
	        position: static;
			
			&:hover {
				background-color: #c6e4bd;
			}
			
			
			
			
			&.active {
				border-width: 0;
				background: transparent url('/img/triangle.svg') 0 0 no-repeat;
				background-size: 11px;
				background-position: -1px -2px;
				background-color: #c6e4bd;
				cursor: default;
			}
			
			
			&:hover {
				background-color: #c6e4bd;
			}
			
			&:nth-child(2), &:first-child {
				margin-top: 5px;
			}
			
			&:last-child {
				margin-bottom: 5px;
				background-position: -1px -1px;
			}
		}
		
		// List of links
		ul {
			padding-left: 20px;
			padding-bottom: 0px;
			margin-bottom: 8px;
			
			li {
				line-height: 14px;
				padding: 2px 0;
				list-style-position: outside;
				list-style-type: square;
				list-style-image: url("img/bullet.gif");
				
				a {
					padding-top: 1px;
					font-size: 11px;
					color: #006;
					line-height: 13px;
					position:relative;
					top: 2px;
					
					&:hover {
						color: #c33;
						text-decoration: none
					}
				}
			}
		
		}
		
	}

}

#leftColumn, .leftColumn {

	.partnerSites.sideBox {

		border-top-right-radius: 20px;

		h2 {
			border-top-right-radius: 20px;
		}
	
		ul {
			position: relative;
			top: -2px;
		}
	
		ul, li {
			list-style-type: none;
			list-style-image: none;
			padding:0px;
			margin: 0px;
		}
	
		li, a, span {
			position: relative;
		}
	
		li {
			padding: 2px 0 6px;
			border-bottom: 1px dotted black;
			height: 24px;
		}
	
		a {
			display: block;
			padding-left: 33px;
			font-size: 11px;
			line-height: 1.2em;
      	  	top: 0px;
		}
	
		li span {
			display: block;
			background: transparent url('/img/template/siteIcons2.png') 0px 0px no-repeat;
			height:22px;
			width: 22px;
			left: 6px;
			top: 5px;
			position: absolute;
		}
		

		/**
		*
		* Icon Position
		*
		*/
		li.spsp { padding-top: 4px; height: 35px; margin-top: 3px;}
	  li.spsp a { top: -2px; }
	  li.spsp span { margin-top: 1px; }
	/*	li.spsp span{ background-position: 0px 0px; }
	*/
	  li.sesp { height: 32px; margin-top: 3px; }
		li.sesp span{ top: 3px; left: 5px; background-position: 0px -22px; }
	  li.sesp a { top: -2px; }

		/*li.up {padding-bottom: 9px;}*/
	  li.up { height: 30px; }
		li.up a {top: 6px;}
		li.up span { background-position: 0px -44px;  left: 6px; top: 2px; margin-top: 2px;}

		/*li.einterview {padding-bottom: 9px; }*/
	  li.einterview { height: 30px; }
		li.einterview a {top: 5px; padding-top: 2px;}
		li.einterview span { background-position: -0px -154px; left: 2px; top:5px; margin-top: 3px;}


		/*li.randomizer {padding-bottom: 9px; }*/
	  li.randomizer { height: 30px; }
		li.randomizer a {top: 6px;}
		li.randomizer span { background-position: 0px -66px; top:3px; left: 4px; margin-top: 2px;}


		/*li.prisonexp {padding-bottom: 11px; }*/
	  li.prisonexp { height: 30px; }
		li.prisonexp a {top: 6px;}
		li.prisonexp span { background-position: 0px -88px; top:3px; left: 4px; margin-top: 2px;}

		/*li.jigsaw {padding-bottom: 9px; }*/
		li.jigsaw a {top: 6px;}
		li.jigsaw span { background-position: 0px -110px; top:3px; margin-top: 1px;}

		li.jigsaw {
			margin-bottom: -10px;
	    	height: 30px;
		}
	
		.noChemo .jigsaw {
			border-bottom: 0px;
		}
	
	
		/*li.chemo {padding-bottom: 9px; }*/
		li.chemo a {top: 6px;}
		li.chemo span { 
			width:44px;
			background-position: 0px -130px; 
			top:3px;
			left:-6px;
	    margin-top: 2px;
		}
	
		li.chemo {
			border-bottom: 0px;
			margin-top: 10px;
			margin-bottom: -10px;
			padding-bottom: 0px;
	    height: 38px;
		}
	}

	.sideBox.search {
		background-color: #f5f6e2;
		border-top-right-radius: 20px;
		height: 71px;

		-webkit-box-shadow: 1px 1px 2px #999;
		-moz-box-shadow: 1px 1px 2px #999;
		box-shadow: 1px 1px 2px #999;

		form {
			padding: 10px;
			margin: 0px;
		}

		input[type=text], input[type=search] {
			font-size: 11px;
			line-height: 11px;
			padding: 0 3px;
			margin-top: 0px;

			position: relative;
			top: -2px;
			width: 108px;


		}

		a {
			position: relative;
			left: 1px;
			top: -4px;
		}

		select {
			width: 109px;
			font-size: 11px;
			height: 24px;
			margin-top: -3px;
		}

		button {
			display: inline-block;
			border: 0;
			padding: 0 5px;
			margin: 0;
			line-height: 20px;
			color: #006;
			border-radius: 5px;
			box-shadow: 1px 1px 2px #333;
			font-size: 11px;
			line-height: 18px;
			padding-top: 2px;
			background-color: #a7d599;
			margin-top: -2px;

			position: relative;
			top: -6px;
			left: 2px;

			&:hover {
				background-color: #c1edb4;
			}
		}
	}
	
}

.admin #leftColumn .topBarSwoosh, .admin .leftColumn .topBarSwoosh {
	background-image: url('/img/template/topBarSwoosh-admin.svg');
	background-image: url('/img/tile.svg');
}

.ie9 {
	.leftColumn, #leftColumn {
		background-image: url("/img/template/leftTile.svg");
		background-position: -99px 1px;
		background-repeat: repeat-y;
	}	
}