@import "bower_components/lesshat/build/lesshat.less";

@rightColumnMinWidth: 270px;

#rightColumn {
	

	padding: 45px 10px 10px 30px;
    width: 24%;
    margin:0px;
    margin-bottom: -24px;

    min-width: @rightColumnMinWidth;

	background-image: url('/img/template/rightColumnSwoosh.svg'), url('/img/template/rightTile.svg');
	background-position: 0px 15px, 0px 0px;
	background-repeat: no-repeat, repeat-y;
	/*border-left: 1px solid #9a9a68;*/
	

	#facebook_plugin {
		width: 250px;
		margin: 10px 0 0 -111px;
		position: relative;
		left: 50%;
	}
	
	a.twitternews span, a.RSSsubscribe span {
		color: black;
	}

	a.twitternews:hover span, a.RSSsubscribe:hover span {
		color: #C33;
	}


		h4,h5 {
			font-family: "Crimson Text";
			text-align: center;
			color: black;
			font-weight: normal;
		}

		h4 {
			padding: 0px;
			line-height: 17px;
			margin: 0px 0px 8px;
			font-size: 24px;
		}

		h5 {
			margin: 0px;
			padding: 0px;
			line-height: 15px;
			margin-bottom: 18px;
			font-size: 16px;
		}

		h6 {
			display: block;
			color: #413E35;
			font-size: 12px;
			margin: 0 4px;
			text-align: center;
		}


		ul {
			list-style-type: none;
			margin: 10px 10px 10px 20px;
			padding-left: 0px;
		}

		li {
			margin: 8px 0;
			padding:0px;
      padding-bottom: 3px;
		
			a {
				color: #222;
				display: block;
				font-size: 12px;
				line-height: 16px;
				padding: 0px 0 0 15px;
				background-repeat: no-repeat;
				background-image:url("/img/bullet.gif");
				background-position: 0px 6px;
				cursor: pointer;
				
				&:visited { color: #666; }
				&:hover { color: #cc3333; text-decoration: none; background-image: none;}
			}
		}

		hr { 
			height: 0; 
			border-style: dotted; 
			border-width: 1px 0 0 0; 
			border-color: #111111;
			margin:20px; 
		}

		form {

			text-align: center;
			margin: 20px 0;

			input[type=text] {
				height: 18px;
				width:132px;
				padding: 1px 3px;
				margin:0px;
				font-size: 11px;
				line-height: 12px;
				
				// Changes after adding speech icon
				padding: 2px 5px;
				
				font-size: 14px;
				line-height: 17px;
				height: auto;
				width: 180px;
				
				background-color: #fff;
				border: 1px solid #ccc;
				.box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
				.transition(border linear .2s,box-shadow linear .2s);
				.border-radius(4px);
				margin-right: 3px;
				margin-top: 4px;
			}

			button {
				display: inline-block;
				border: 0;
				padding: 0 5px;
				margin: 0;
				line-height: 20px;
				color: #006;
				border-radius: 5px;
				box-shadow: 1px 1px 2px #333;
				font-size: 11px;
				line-height: 18px;
				padding-top: 2px;
				background-color: #a7d599;
				position: relative;
				top: -1px;

				&:hover {
					/*box-shadow: 1px 1px 5px #999;*/
					background-color: saturate(#c6e4bd, 20%);
				}

			}

		}

		.rss, .twitter, .facebook {
			display: block;
			width: 200px;
			height: 16px;
			margin: 10px auto;
			padding: 3px 0 0 20px;		
			font-size: 11px;
			line-height: 9px;

			position: relative;
			left: 5px;


			color: black;
			background: transparent url('/img/social/custom/twitter.svg') 0 0 no-repeat;
			background-size: 16px;

			&:hover {
				color: #c33;
			}
		}

		.rss {background-image: url('/img/social/rss_16.png');}

		.facebook {
			padding-top: 4px;
			background-image: url('/img/social/facebook_16.png');
		}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {

	#rightColumn {
		.rss {background-image :url('/img/social/rss_32.png');}
		.facebook {background-image: url('/img/social/facebook_32.png');}
		/*.twitter {background-image: url('/img/social/twitter_32.png');}*/
	}

}

@media (max-width: 1077px) {

	#wrapper #content {
		padding-right: 30px;	
	}
	
	#rightColumn {
		display:none;
	}

}

@media (max-width: 1275px) {
	
	#rightColumn {
		width: @rightColumnMinWidth;
	}

}

@media (min-width: 1500px) {

	#rightColumn {

		form input[type=text] {
			width: 200px !important;
		}
	}

    .homepage {

    	form input {
    		width: 250px;
    	}

	}

}

@media (min-width: 1740px) {

	#rightColumn {
		width: 24% !important;

		form input[type=text] {
			width: 200px !important;
		}
	}

    .homepage {

    	form input {
    		width: 250px;
    	}

		.carouselWrapper {

			> div:first-child {
				width: 40%;
			}

		}

	}

}



/**
* We need it to stretch but firefox's 22% is different than other browsers so...
*
* We only make stretch when the window is really wide (1600px). When its really wide the size differenc ein firefox is not really noticable.
*/
/*@media (min-width: 1600px) {
	#rightColumn { width: 22%;}
}*/
