| <!--[if IE]><html class="ie9" lang="en"><![endif]-->
| <![if !IE]><html lang="en"><![endif]>

block head
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="initial-scale=1")

		link(type="text/css" href="base.css" rel="stylesheet")

block body
	body

		include /template/header

		//- the wrapper contains our content and columns
		div#wrapper
			block content