@import "bower_components/bootstrap3/less/bootstrap.less";

// Core variables and mixins
@import "less/variables.less";
@import "bower_components/bootstrap3/less/mixins.less";

// Reset
@import "bower_components/bootstrap3/less/normalize.less";
@import "bower_components/bootstrap3/less/print.less";

// Core CSS
@import "bower_components/bootstrap3/less/scaffolding.less";
@import "bower_components/bootstrap3/less/type.less";
@import "bower_components/bootstrap3/less/code.less";
@import "bower_components/bootstrap3/less/grid.less";
@import "bower_components/bootstrap3/less/tables.less";
@import "bower_components/bootstrap3/less/forms.less";
@import "bower_components/bootstrap3/less/buttons.less";

// Components
@import "bower_components/bootstrap3/less/component-animations.less";
@import "bower_components/bootstrap3/less/glyphicons.less";
@import "bower_components/bootstrap3/less/dropdowns.less";
@import "bower_components/bootstrap3/less/button-groups.less";
@import "bower_components/bootstrap3/less/input-groups.less";
@import "bower_components/bootstrap3/less/navs.less";
@import "bower_components/bootstrap3/less/navbar.less";
@import "bower_components/bootstrap3/less/breadcrumbs.less";
@import "bower_components/bootstrap3/less/pagination.less";
@import "bower_components/bootstrap3/less/pager.less";
@import "bower_components/bootstrap3/less/labels.less";
@import "bower_components/bootstrap3/less/badges.less";
@import "bower_components/bootstrap3/less/jumbotron.less";
@import "bower_components/bootstrap3/less/thumbnails.less";
@import "bower_components/bootstrap3/less/alerts.less";
@import "bower_components/bootstrap3/less/progress-bars.less";
@import "bower_components/bootstrap3/less/media.less";
@import "bower_components/bootstrap3/less/list-group.less";
@import "bower_components/bootstrap3/less/panels.less";
@import "bower_components/bootstrap3/less/wells.less";
@import "bower_components/bootstrap3/less/close.less";

// Components w/ JavaScript
@import "bower_components/bootstrap3/less/modals.less";
@import "bower_components/bootstrap3/less/tooltip.less";
@import "bower_components/bootstrap3/less/popovers.less";
@import "bower_components/bootstrap3/less/carousel.less";

// Utility classes
@import "bower_components/bootstrap3/less/utilities.less";
@import "bower_components/bootstrap3/less/responsive-utilities.less";

@import "less/pretty-buttons.less";

@import "less/layout.less";
@import "less/bootstrap-tweeks.less";
@import "less/topheader.less";
@import "less/fixed-top.less";
@import "less/leftcolumn.less";
@import "less/rightcolumn.less";

:focus { outline:none; }

a:hover, a:focus {
	text-decoration: none;
}

body, html {
  height: 100%;
}

label {
	font-weight: normal;
}

html, #topHeader, #topHeader .navbar {
    min-width: 950px;
}

body {
	// This ensures the tiled image makes it to the bottom of the page
	background: transparent url("/img/template/leftTile.svg") -99px -3px repeat-y;
}

/** Embed the font right into this css file, use the url mehtod as backup if the browser doesn't wupport data uris **/
@font-face{ 
  font-family: 'Crimson Text', 'Times New Roman';
  src: url('font/crimson/crimsontext-roman-webfont.woff') format('woff');
}

/** The default font-type for retina screens is HelveticaNeue-Light not Helvetica **/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) { body,input, button, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}}