extends base

block append head
	title Social Psychology Network
	meta(name="description" content="Over 20,000 psychology links on a wide variety topics. Definitely worth a visit!")
	link(type="text/css" href="/less/home.css" rel="stylesheet")

block content
	div#leftColumn
		include /template/leftColumn

	div#content
		.carouselWrapper
			div
				p Welcome to Social Psychology Network, one of the largest Internet sites devoted to psychological research and teaching.</p>
				form(action="http://www.socialpsychology.org/client/search-tabs.php",id="searchForm",method="GET",onsubmit="if (this.searchterm.value.replace(/^\s+|\s+$/g, '') == '') { alert ('Please enter one or more keywords you wish to search for.'); return false;}")
					input(type="text",name="searchterm",placeholder="Search 20,000 links",x-webkit-speech="x-webkit-speech",onwebkitspeechchange="$('form a.quick').click()")
					input(type="hidden",name="search",value="simple")
					menu
						a.quick(onClick="if (document.getElementById('searchForm').searchterm.value.replace(/^\s+|\s+$/g, '') == '') { alert ('Please enter one or more keywords you wish to search for.'); return false;} else { document.getElementById('searchForm').submit(); }") Quick Search
						a.advanced(onClick="window.location='http://www.socialpsychology.org/asearch.htm?searchterm=' + document.getElementById('searchForm').searchterm.value + '&search=simple&allowblank=false&search=advanced&allowblank=true'") Advanced Search
			aside.carousel
				.carousel-content
					ul
						li.join.right
							a(href="https://secure.socialpsychology.org/support.htm")
								h2 Join the<br>Network
								h3 More than 14,000 members<br>from 148 countries
						li.thankyou.left
							aside
								h2 Visit our wonderful sponsors
								h3 
									a(href="http://www.worthpublishers.com/psychology") Worth Publishers
									br
									a(href="http://www.calsouthern.edu/online-psychology-degrees/") California Southern University
									br
									a(href="http://www.psypress.com") Psychology Press
						li.advanced.right
							a(href="/asearch.htm")
								h2 Looking for <br >a specific item?
								h3 Try our Advanced Search
						li.sexism.left
							a(href="http://www.understandingprejudice.org/asi/")
								h2 Measure your level of sexism
								h3 Compare it to men and <br>women in 20 countries
						li.prison.left
							a(href="http://www.prisonexp.org/")
								h2(style="font-size:28px;") Enter the Stanford Prison Experiment
								h3 Official site of the classic study
				.left-arrow
				.right-arrow
				.buttons <button class="active"></button> <button class=""></button> <button class=""></button> <button class=""></button> <button class=""></button>
		section
			aside
				h1 Our Mission
				p The mission of Social Psychology Network is to promote peace, social justice, and sustainable living through public education, research, and the advancement of psychology.
				p Locate social psychology resources around the world:
				ul.maps
					li
						a(href="//www.#{config.rootdomain}/maps/experts") <div></div><span>2,000+ profiled experts from 50 countries</span>
					li.researchgroups
						a(href="//www.#{config.rootdomain}/maps/researchgroups") <div></div><span>600+ research groups from 32 countries</span>
					li.gradprograms
						a(href="/maps/gradprograms") <div></div><span>300+ graduate programs from 45 countries</span>
			aside.news
				h1 Network News
				p <a target="_blank" href="http://www.twitter.com/SocialPsych"><img src="//www.socialpsychology.org/images/twitter-icon.png" width="40" height="40" align="left" alt="Social Psychology on Twitter" vspace="2" border="0"></a> Social Psychology Network's Twitter feeds are now followed by nearly 150,000 subscribers around the world! To monitor the latest psychology news, jobs, online studies, and listserv messages, just sign in to Twitter and add&nbsp;<a href="http://www.twitter.com/SocialPsych">SocialPsych</a>, or if you're interested only in certain types of updates, you can follow any of these categories individually:</p><ul type="disc" style="margin-top: 0in;"><li class="MsoNormal"><a href="http://www.twitter.com/PsychNews">PsychNews</a><span class="MsoHyperlink">&nbsp;(breaking news stories)</span><o:p></o:p></li><li class="MsoNormal"><a href="http://www.twitter.com/Psych_Studies">Psych_Studies</a><span class="MsoHyperlink">&nbsp;(online studies)</span><o:p></o:p></li><li class="MsoNormal"><a href="http://www.twitter.com/PsychJobs">PsychJobs</a><span class="MsoHyperlink">&nbsp;(psychology-related jobs)</span><o:p></o:p></li><li class="MsoNormal"><a href="http://www.twitter.com/SPN_Listserv">SPN_Listserv</a><span class="MsoHyperlink">&nbsp;(listserv messages)</span><span class="MsoHyperlink"><span style="color: windowtext;"><o:p></o:p></span></span></li><li class="MsoNormal"><span class="MsoHyperlink"><a href="http://www.twitter.com/understandprej">UnderstandPrej</a></span><span class="MsoHyperlink">&nbsp;(news on social justice)</span></li></ul><ul style="margin-top:0in" type="disc">
		hr 
		footer
			a(href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=5712&amp;org=BCS&amp;from=home" target="_blank")
				| <!--[if IE]><img src="/img/nsf.png" width="65" height="65"><![endif]-->
				| <!--[if !IE]> --><img src="/img/nsf.svg" width="65" height="65"><!-- <![endif]-->
			.text
				p.footer Since 1996, the pages of SocialPsychology.org and its partner sites have been viewed <span class="views">#{homepage_stats['million_text']}</span> million times. Today, there have been <span class="page-views">#{homepage_stats['pageviews_today']}</span> page views by <span class="visitors">#{homepage_stats['visitors_today']}</span> visitors from <span class="countries">#{homepage_stats['countries']}</span> different countries. &nbsp;<a class="stats" href="//www.#{config.rootdomain}/usage.htm">More Statistics&#9658;</a>
				p.footer Social Psychology Network and its partner sites are supported in part by the National Science Foundation (grants #9950517, #0339002, and #0843855). <br /> ©1996-#{new Date().getFullYear()}, S. Plous
	div#rightColumn
		include /template/rightColumn
	

	script(src="bower_components/requirejs/require.js")
	script(src="require-config.js")
	script.
		require(["carousel", "template/rightColumn"], function(CarouselView) {
			new CarouselView();
		});